@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<h2>Test</h2>

<button id="start">Run test...</button>
<h3>Notes:</h3>
    <ul>
        <li>WCF - return DateTime.</li>
        <li>WCF - return JSON.</li>
    </ul>
<h3>Request log:</h3>
<fieldset>
    <div id="test"></div>
</fieldset>


<script type="text/javascript">
    var testDateWCF = (function () {
        var url = [
            { id: 'checkDateTime', url: '@Url.Action("checkDateTime","Home")', returnType: 'datetime' },
            { id: 'checkDateTimeForceUTC', url: '@Url.Action("checkDateTimeForceUTC", "Home")', returnType: 'datetime' },
            { id: 'checkDateTime_ServerSide', url: '@Url.Action("checkDateTime_ServerSide", "Home")', returnType: 'datetime' },
            { id: 'checkDateTimeForceUTC_ServerSide', url: '@Url.Action("checkDateTimeForceUTC_ServerSide", "Home")', returnType: 'datetime' },
            { id: 'checkDateTime_JSON', url: '@Url.Action("checkDateTime_JSON", "Home")', returnType: 'json' },
            { id: 'checkDateTime_ServerSide_JSON', url: '@Url.Action("checkDateTime_ServerSide_JSON", "Home")', returnType: 'json' },
            { id: 'checkDateTimeForceUTC_JSON', url: '@Url.Action("checkDateTimeForceUTC_JSON", "Home")', returnType: 'json' },
            { id: 'checkDateTimeForceUTC_ServerSide_JSON', url: '@Url.Action("checkDateTimeForceUTC_ServerSide_JSON", "Home")', returnType: 'json' },

        ];

        var checkDate;
        var callWCF = function (id) {
            var currentURL = $.grep(url, function (e) { return e.id == id; });
            if (currentURL.length == 1) {
                $.ajax({
                    type: "GET",
                    url: currentURL[0].url,
                    data: { fechIn: JSON.stringify(checkDate) },
                    success: function (data) {
                        log("..success :: ");
                        if (currentURL[0].returnType == 'datetime') { log(data); }
                        else if (currentURL[0].returnType == 'json') { log(JSON.stringify( Date(parseInt(data.substr(6))))); }
                        log(" - " + id);
                        log("<br />");
                    },
                    error: function () {
                        log(".." + id + " - error :: ");
                        log("<br />");
                    }
                });
            }
        };

        var log = function (content) {
            $('#test').append(content);
        };

        var runTest = function () {
            log('---------------------------------------------------------<br/>');
            checkDate = new Date();
            log("run test :: ");
            log(JSON.stringify(checkDate));
            log("<br/>");
            callWCF('checkDateTime');
            callWCF('checkDateTimeForceUTC');
            callWCF('checkDateTime_ServerSide');
            callWCF('checkDateTimeForceUTC_ServerSide');
            callWCF('checkDateTime_JSON');
            callWCF('checkDateTimeForceUTC_JSON');
            callWCF('checkDateTime_ServerSide_JSON');
            callWCF('checkDateTimeForceUTC_ServerSide_JSON');
        };

        return {
            runTest: runTest
        };
    })();

    $(document).ready(function () {
        console.log("ready!");
        $('#start').off('click').on('click', function () { testDateWCF.runTest(); });
    });

</script>